.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 98px;
}

.footer p {
  color: #d9ecff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 112.5% */
  text-decoration-line: underline;
}
