.navButtons {
  display: flex;
  /* Todo: если расширение от их ширины, то использовать медиа квери 60px */
  gap: 30px;
}

.headerButton {
  color: var(--gray-white, #fff);
  font-family: "Inter";
}

@media (max-width: 920px) {
  .navButtons {
    display: flex;
    gap: 5px;
    font-size: 12px;
  }
  
}
