.container {
  display: flex;
  width: 200px;
  height: 70px;
  gap: 20px;
}

.circle {
  width: 70px;
  height: 70px;
  display: inline-flex;
  padding: 20px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 1000px;
  background: linear-gradient(180deg, #a988f9 0%, #6d3ae9 100%);
}

.textInfo {
  display: grid;
}

.textInfo h5 {
  color: #fff;
  font-family: Caladea;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
  letter-spacing: 0.24px;
}

.textInfo {
  color: #b0b0d1;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}
